* {
    font-family:Georgia, 'Times New Roman', Times, serif
}

.title {
    background-color: rgb(50, 50, 92);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 40px;
}

.title h1 {
    color: white;
}

.title p {
    color: lightgrey;
}

.title img {
    width: 750px;
    height: auto;
    display: block; /* Remove gap below image */
}

.projects {
    background-color: lightgrey;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.projects .items {
    display: flex;
    flex: auto;
    gap: 40px;
}

.projects .item {
    background-color: rgb(128, 151, 195);
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects img {
    width: auto;
    height: 200px;
    border: 2px solid black;
    border-radius: 8px;
}

.projects p {
    text-align: center;
}

.projects button {
    border: 2px solid white;
    background-color: rgb(128, 151, 195);
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 16px;
    color: white;
    transition-duration: 0.6s;
    cursor: pointer;
}

.projects button:hover {
    background-color: white;
    color: black;
}

#grey {
    color: rgb(53, 53, 53);
}

footer {
    background-color: rgb(50, 50, 92);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

footer p {
    color: lightgray
}

body {
    margin: 0px;
}