* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    --colorAccent: rgb(20, 33, 61);
    --colorLightHover: rgb(207, 207, 207);
    --colorHover: rgb(92, 92, 92);
}

body {
    background-color: var(--colorAccent);
    margin: 0px;
    position: relative;
}

.projects ::-webkit-scrollbar {
    height: 10px;
}

.projects ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 16px;
    border: 1px solid white;
}

.projects ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 16px;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--colorAccent);
}

.header li {
    float: left;
}

.header #header-button {
    display: block;
    color: white;
    padding: 20px 16px;
    transition-duration: 0.6s;
    text-decoration: none; /* Remove underline from text */
}

.header #header-button:hover {
    background-color: var(--colorLightHover);
}

.header #header-icon {
    padding: 5px 9px;
}

/* =========================================== */

.title {
    background-image: url("../images/Nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    padding-top: 5vh;
    overflow: hidden;
}

.title-container {
    display: flex;
    justify-content: center;
    width: 35vw;
    height: 100vh;
    padding-left: 5vw;
    padding-right: 15vw;
    flex-direction: column;
    background-color: rgba(24, 24, 38, 0.772);
    clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
}

.title-container h1 {
    color: white;
    font-size: 4rem;
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    align-self: flex-start; /* Keep h1 same size as the text */
    animation: 
        blink-caret .75s step-end infinite;
}

.title-container p {
    color: lightgrey;
    font-size: 1.2rem;
    line-height: 3vh;
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

/* =========================================== */

.projects {
    padding-top: 5vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.projects h1 {
    color: white;
    font-size: 3rem;
}

.projects h2 {
    color: lightgrey;
    font-size: 1.5rem;
}

.projects p {
    height: 15vh;
    color: lightgray;
    text-align: center;
}

.projects .scrolling-container {
    width: 80vw;
    height: 600px;
    border: 2px solid white;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    overflow: auto;
}

.projects .item-container {
    display: flex;
    flex: auto;
    gap: 2vw;
    padding: 20px 2vw 0px 2vw;
}

.projects .item {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 24px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 400px;
    height: 500px;
    transition: transform 0.5s;
}

.projects .item:hover {
    transform: scale(1.1);
}

.projects .button-container {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 25px;
    width: auto;
    height: auto;
    display: inline;
    margin: 0 auto;
}

.projects #button {
    border: 2px solid white;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 16px;
    color: white;
    transition-duration: 0.6s;
    cursor: pointer;
}

.projects #button:hover {
    background-color: white;
    color: black;
}

.projects a {
    text-decoration: none; /* Remove underline from text */
}

.projects .left-button, .right-button {
    position: absolute;
    z-index: 1;
    margin-top: 250px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    transition-duration: 0.6s;
    cursor: pointer;
}

.right-button {
    right: 5%;
}

.left-button {
    left: 5%;
}

.projects .left-button:hover, .right-button:hover {
    background-color: white;
    color: black;
}

/* =========================================== */

.skills {
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.skills h1 {
    color: white;
    font-size: 2.25rem;
}

.skills h2 {
    color: lightgrey;
    font-size: 1.5rem;
    text-align: center;
}

.skills p {
    height: 15vh;
    color: lightgray;
    text-align: center;
}

.skills .skills-container {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    background-color: transparent;
    width: 75vw;
    max-width: 725px;
    border-radius: 24px;
    padding: 1.5vw;
    gap: 15px;
    transition: transform 0.7s;
}

.skills .skills-container:hover {
    transform: scale(1.05);
}


.skills .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
    grid-template-rows: repeat(auto, 50px);
    gap: 20px;
    justify-content: center;
    text-align: center;
    
}

/* =========================================== */

.contact {
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    background-color: var(--colorAccent);
    color: white;
    border-radius: 12px;
    padding: 20px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
}

.textbox #button {
    border: 2px solid white;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 16px;
    color: white;
    transition-duration: 0.6s;
    cursor: pointer;
    text-decoration: none; /* Remove underline from text */
}

.textbox #button:hover {
    background-color: white;
    color: black;
}

.textbox .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hidden-button { /* Display for svg button */
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#copy-tooltip {
    visibility: hidden;
    width: 100px;
    background-color: grey;
    color: black;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    position: absolute;
    margin-left: -80px;
    margin-top: -40px;
    opacity: 1;
    transition: opacity 0.6s;
}

#hidden-button:hover #copy-tooltip {
    visibility: visible;
    opacity: 1;
}

/* =========================================== */

.icon {
    width: 45px;
    height: 45px;
    transition-duration: 0.6s;
    fill: white;
}

.icon:hover {
    fill: var(--colorHover);
}

.language-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    padding: 15px;
    border: 2px solid white;
    background-color: transparent;
    color: lightgrey;
}

.symbol {
    width: 30px;
    height: 30px;
    fill: white;
}

#grey {
    color: rgb(53, 53, 53);
}

#label-container {
    display: flex;
    gap: 5px;
}

#label-container > div {
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: lightgrey;
}

/* =========================================== */

footer {
    background-color: var(--colorAccent);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
}

footer p {
    color: lightgray
}

/* =========================================== */

@media only screen and (max-width: 800px), (max-height: 500px) {
    .title {
        height: 70vh;
    }
    
    .title-container {
        width: 85%;
        height: 70vh;
        padding-left: 5vw;
        padding-right: 15vw;
        clip-path: none;
    }
    
    .title-container h1 {
        font-size: 3rem;
    }
    
    .title-container p {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 700px) {
    .textbox {
        flex-direction: column;
    }
}